<h1>Importing Dataset - Laptops Pricing</h1>

In [1]:
import pandas as pd
import numpy as np

In [5]:
import requests

#refer to data_acquisition file for explanation
def download(url, filename):
    response = requests.get(url)
    with open(filename, 'wb') as f:
        f.write(response.content)

In [6]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-Coursera/laptop_pricing_dataset_base.csv"

In [4]:
download(file_path, "laptops.csv")
file_name="laptops.csv"

In [19]:
df = pd.read_csv(file_name, header = None) # removes the header but header = 0, loads using first row as header
df.head()

     0   1          2   3   4   5       6    7   8    9     10    11
0  Acer   4  IPS Panel   2   1   5   35.56  1.6   8  256   1.6   978
1  Dell   3    Full HD   1   1   3  39.624  2.0   4  256   2.2   634
2  Dell   3    Full HD   1   1   7  39.624  2.7   8  256   2.2   946
3  Dell   4  IPS Panel   2   1   5  33.782  1.6   8  128  1.22  1244
4    HP   4    Full HD   2   1   7  39.624  1.8   8  256  1.91   837

In [13]:
#Adding headers
headers = [
    "Manufacturer", "Category", "Screen", "GPU", "OS", "CPU_core", "Screen_Size_inch",
    "CPU_frequency", "RAM_GB", "Storage_GB_SSD", "Weight_kg", "Price"
]

In [16]:
df.columns = headers
df.head()

,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_inch,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,Acer,4,IPS Panel,2,1,5,35.56,1.6,8,256,1.6,978
1,Dell,3,Full HD,1,1,3,39.624,2.0,4,256,2.2,634
2,Dell,3,Full HD,1,1,7,39.624,2.7,8,256,2.2,946
3,Dell,4,IPS Panel,2,1,5,33.782,1.6,8,128,1.22,1244
4,HP,4,Full HD,2,1,7,39.624,1.8,8,256,1.91,837

In [18]:
# Replacing NaN values
df.replace('?',np.nan, inplace = True)